# Ignore Python bytecode files
*.pyc

# Ignore __pycache__ directories
__pycache__

# Ignore version control directories
.git

# Ignore virtual environment directories
venv

# Ignore Docker-related files
.dockerignore

# Ignore development specific files
*.log

# Ignore environment variables
.env